@import '../../index.scss';


.helpPageContainer {
  padding: 0.5em;
  background-color: white;

  @include l-desktop-only (2560px) {
    font-size: 1.5rem;
  }

  @include mobile-only {
    font-size: 0.8rem;
  }

  h2 {
    @include taskAddTitle;
  }
  
  
}