@import "/src/index.scss";

.taskMainContainer {
  border: 1px solid rgb(240, 240, 240);
  box-shadow: 4px 3px rgb(240, 240, 240);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .taskDescription {
    margin: auto;
    font-size: 1.5em;
    color: $primary;
  }

  .taskId {
    font-size: 0.7em;
    color: rgb(150, 150, 150);
  }
}

.buttonTaskContainer {
  display: flex;
  margin-top: 0.5rem;

  .taskButtons {
    display: flex;
    align-items: center;
    height: 30px;
    transition: 0.5s;
    border: none;
    border-radius: 15px;
    margin-right: 1em;

    @include l-desktop-only(2560px) {
      font-size: 1.5rem;
    }

    @include mobile-only {
      font-size: 0.8rem;
    }

    &:hover {
      @include hoverFeature;
      box-shadow: 2px 2px $primary;
    }

    .taskIcon {
      @include taskIcon;

      @include l-desktop-only(2560px) {
        font-size: 1.5rem;
      }

      @include mobile-only {
        font-size: 0.8rem;
      }
    }
  }
}
